@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #1f2933;
  background-color: #f5f5f5;
}

body {
  @apply bg-background text-secondary font-sans;
}

a {
  @apply text-primary;
}
